<h2>Edit Song</h2>


<mat-card>
    <form [formGroup]="userForm" (submit)="alEnviar()">
        <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field>
                    <input matInput placeholder="Band" formControlName="band">
        </mat-form-field>
        <mat-form-field>
                    <input matInput placeholder="Type" formControlName="type">
        </mat-form-field>
        <mat-form-field>
                    <input matInput placeholder="Url" formControlName="url">
        </mat-form-field>
        <div>
            <p>
            <button  type="submit">Update Song</button>
            <button (click)="cancel()">Cancel</button>     
            </p>
        </div>
    </form>
      
</mat-card>

<h3>Search YouTube</h3>

<mat-card>
    <form [formGroup]="searchForm" (submit)="showBrother()">
      <div>
      <mat-form-field>
        <input matInput placeholder="Search" formControlName="search">
      </mat-form-field>
            <button (click)="clear(); showBrother()">search</button>
        </div>
    </form>
</mat-card>

<span *ngIf="brother">
  <p>Brother All "{{brother}}"</p>
  <p>Brother Kind "{{brother.kind}}"</p>
  <p>Brother Items "{{brother.items}}"</p>
    <div>
    <ul>
      <li *ngFor="let item of brother.items">
        {{item.snippet.title}} -- {{item.id.videoId}}
         <button (click)="copy(item)">copy</button>
      </li>
    </ul>
  </div>
</span>