<h2>Add New Song</h2>


<mat-card>
    <form [formGroup]="userForm" (submit)="alEnviar()">
        <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field>
                    <input matInput placeholder="Band" formControlName="band">
        </mat-form-field>
        <mat-form-field>
                    <input matInput placeholder="Type" formControlName="type">
        </mat-form-field>
        <mat-form-field>
                    <input matInput placeholder="Url" formControlName="url">
        </mat-form-field>
        <div>
            <p>
            <button  type="submit">Create Song</button>
            <input type="reset" class="boton" name="Reset" value="Reset">
            </p>
        </div>
    </form>
      
</mat-card>

<h3>Search YouTube</h3>

<mat-card>
    <form [formGroup]="searchForm" (submit)="showBrother()">
      <div>
      <mat-form-field>
        <input matInput placeholder="Search" formControlName="search">
      </mat-form-field>
            <button (click)="clear(); showBrother()">search</button>
        </div>
    </form>
</mat-card>

<span *ngIf="brother">
    <div>
    <ul>
      <li *ngFor="let item of brother.items">
        <div id="search">
          <div class="repartir1">{{item.snippet.title}}</div>
          <div class="repartir2">{{item.id.videoId}}</div>
          <div class="repartir3"><button (click)="copy(item)">copy</button></div>
        </div>
      </li>
    </ul>
  </div>
</span>


